<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Your email</mat-label>
            <input type="email" name="email" id="email"matInput formControlName="email" >
             <mat-error>Invalid or missing email</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be atleat 6 characters long.">
            <mat-label>Your password</mat-label>
            <input type="password" name="password" id="password" matInput formControlName="password" >
         <mat-error>This field must not be empty</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Login</button>
    </form>
</section>